body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    background-image: url('/assets/person.jpg');
    width: 320px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;

    position: relative;
}

.name {
    position: absolute;
    top: 65%;
    color: rgb(228, 113, 113);
    left: 20%;

}

.about-me {
    text-align: center;
    max-width: 320px;

}

a {
    text-decoration: none;
    cursor: pointer;
}

a img {
    width: 20px;
}

.card {
    max-width: 320px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.image {

    color: rgb(230, 221, 221);
    text-align: center;
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 400;
}

.project-details {
    display: flex;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.desc {
    font-size: 18px;
    color: #666;
    padding: 0 15px 15px 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.person2 {
    width: 100%;



}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;

    margin-top: 20px;
    border-radius: 5px;

    background-color: #8a73d6;
    color: white;
}

footer h3 {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.links {
    text-align: center;
    font-size: 1.6rem;
    margin: 20px;
}

footer *:not(img) {
    padding-left: 10px;
}

@media (min-width:700px) and (max-width:1000px) {
    .projects {
        width: 700px;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        

    }

    footer {
        min-width: 700px;
        position: relative;

    }

    footer *:not(img) {
        width: 200px;
    }

    .person2 {
        width: 400px;
        position: absolute;
        top: 80px;
        right: 0px;
        height: 350px;

    }

   
    header{
        flex-direction: row;
    }
    .about-me,.img-container{
        flex:1;
        max-width: 40%;
       padding: 10px;
    }
    .none{
        display: none;
    }
    .img-container{
        width: 350px;
        height: 300px;
        
    }
    
}
@media (min-width: 1000px){
    header{
        flex-direction: row;
    }
    .about-me,.img-container{
        flex:1;
        max-width: 30%;
       padding: 10px;
    }
    .projects {
        width: 80%;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 15px;
        

    }
    footer{
        min-width: 80%;
        position: relative;
    }
    .card{
        flex: 1;
        min-width: 30%;
        max-width: 50%;
    }
    .person2 {
        max-width: 40%;
        position: absolute;
        top: 80px;
        right: 0px;
        height: 60%;

    }
    .img-container{
        width: clamp(200px, 50%, 600px);
        height: 400px;
        
    }
}